nav{
    position: fixed;
    width: 100%;
    z-index: 100;
}

nav img{
    height: 1em;
}
nav ul {
    list-style: none;
    background-color: #555;
    text-align: center;
}

nav li {
    padding: 1em;
    font-size: 1.2em;
    text-align: center;
    display: inline-block;
}

nav a {
    text-decoration: none;
    color: #eee;
    display: block;
    transition: color .25s;
}

nav a:hover{
    color: #edbc64;
}

nav li li {
    font-size: 0.8em;
}

nav li ul {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity .25s;
}

nav li:hover ul {
    visibility: visible;
    opacity: 1;
}

nav li ul li {
    display: block;
    text-align: left;
}

.hidden{
    display: none;
}

#toggleMenu{
    position: absolute;
    height: 5em;
    padding: 1em;
    margin: 2em;
    border: #eee solid 1px;
}

#hamburger li{
    display: block;
}